<div class="main__final final">
	<div class="final__body">
		<div class="final__inner">
			<div class="final__title _fz-29 _fw-900">YOU win</div>
			<div class="final__result-box">
				<div class="footer__players players-footer">
					<div class="players-footer__body">
						<div class="players-footer__blocks">
							<div class="players-footer__block">
								<div class="players-footer__name _fz-20 _green">You:</div>
								<div class="players-footer__item">
									<img src="@img/birds/bird-1.png" alt="Icon">
									<div data-count="1" class="players-footer__count _fz-32">0</div>
								</div>
							</div>
							<div class="players-footer__block">
								<div class="players-footer__name _fz-20">Sam:</div>
								<div class="players-footer__item">
									<img src="@img/birds/bird-1.png" alt="Icon">
									<div data-count="2" class="players-footer__count _fz-32">0</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="final__score-box score-box">
				<div class="score-box__body">
					<div class="score-box__icon icon-game"></div>
					<div class="score-box__score _win-score _fz-20">0</div>
				</div>
			</div>
			<div class="final__button-box">
				<button type="button" data-button="final-reload" class="final__button button button-reset"></button>
				<button type="button" data-button="final-menu" class="final__button button-home"></button>
			</div>
		</div>
	</div>
</div>