<div class="preloader">
	<div class="preloader__block-acces">
		<div class="preloader__acces acces-preloader">
			<div class="acces-preloader__body">
				<div class="acces-preloader__title _fz-12">Privacy Policy </div>
				<div class="acces-preloader__text-box">
					<div class="acces-preloader__text text-pre">
						<p>This app is a Free app. This SERVICE is provided at no cost and is intended for use as is. </p>
						<p>
							This page is used to inform visitors regarding my policies with the collection, use, and disclosure
							of
							Personal Information if anyone decided to use my Service.
						</p>
						<p>
							Privacy Policy for the EU and other country users and our EU and other country
							business partners and suppliers.
						</p>
					</div>
					<div class="acces-preloader__text text-pre">
						<p>We have created this Privacy Policy statement in order to demonstrate our firm commitment to your
							privacy. The following discloses our information gathering and dissemination practices.</p>
						<p>We reserve the right to change this Privacy Policy from time to time, so be sure to check
							it periodically.</p>
					</div>
					<div class="acces-preloader__text text-pre">
						<div class="text-pre__title">1. COLLECTION OF INFORMATION</div>
						The data we collect depends on the context of your interactions with us, the choices you make,
						including
						your privacy settings, and the products and features you use. The data we collect can include
						SDK/API/JS
						code version, browser, Internet service provider, IP address, platform, timestamp, application
						identifier, application version, application distribution channel, independent deice identifier, iOS
						ad
						identifier (IDFA), Android ad master identifier, network card (MAC) address, carrier data and
						international mobile device identification code (IMEI) The equipment model, the terminal manufacturer,
						the terminal device operating system version, the session start / stop time, the location of the
						language, the time zone and the network state (WiFi and so on), the hard disk, the CPU, and the
						battery
						use, etc
					</div>
					<div class="acces-preloader__text text-pre">
						<div class="text-pre__title">2. USE OF PERSONAL DATA</div>
						Product Improvement. We use data to continually improve our products, including adding new features or
						capabilities.
					</div>
					<div class="acces-preloader__text text-pre">
						<div class="text-pre__title">3. SHARING OF PERSONAL DATA</div>
						To improve our product and provide you better service, we also share personal data with vendors or
						agents
						working on our behalf for the purposes described in this privacy policy. For example, companies we've
						hired to provide data analytical services may need to collect and access to personal data to provide
						those functions. In such cases, these companies must abide by our data privacy and security
						requirements.
					</div>
					<div class="acces-preloader__text text-pre">
						<div class="text-pre__title">4. LEGAL BASIS FOR DATA PROCESSING</div>
						<p>
							We process Personal Data for the purposes set out in this Privacy Policy, as described above. Our
							legal basis to process personal data includes processing that is: necessary for the performance of
							the
							contract with you (for example, to provide you with the services you request and to identify and
							authenticate you , so you may use the Sites); necessary to comply with legal requirements (for
							example, to comply with applicable accounting rules and to make mandatory disclosures to law
							enforcement); necessary for our legitimate interests (for example, to manage our relationship with
							you, to ensure the security of our services, to communicate with you about our products and
							services);
							and based on consent by our customers (for example, to place certain cookies and to share your
							information with third parties for advertising purposes).
						</p>
						<p>
							In some instances, you may be required to provide us with Personal Data for processing as described
							above, in order for us to be able to provide you all of our services, and for you to use all the
							features of our Sites.
						</p>
					</div>
					<div class="acces-preloader__text text-pre">
						<div class="text-pre__title">5. International Transfers of Personal Data</div>
						Our business may require us to transfer your Personal Data to countries outside the European Economic
						Area (“EEA”), including to countries such as the People's Republic of China or Singapore. We take
						appropriate steps to ensure that recipients of your Personal Data are bound to duties of
						confidentiality,
						and we implement measures such as standard contractual clauses. A copy of those clauses can be
						obtained
						by contacting our Help Center.
					</div>
					<div class="acces-preloader__text text-pre">
						<div class="text-pre__title">6. Your Rights</div>
						Subject to limitations in applicable law, you are entitled to object to or request the restriction of
						processing of your Personal Data, and to request access to, rectification, erasure and portability of
						your own Personal Data. Where the use of your information is based on consent, you can withdraw this
						consent at any time without affecting the lawfulness of processing based on consent before its
						withdrawal. If you are aware of changes or inaccuracies in your information, you should inform us of
						such
						changes so that our records may be updated or corrected.
						We retain your Personal Data as long as needed to provide services or products to you, or as required
						or
						permitted by applicable laws, such as tax and accounting laws.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="preloader__button-box">
		<button type="button" class="preloader__button button"></button>
	</div>

</div>