<div class="wrapper__shop shop">
	<div class="shop__body">
		<div class="shop__header">
			<div class="shop__score-box score-box">
				<div class="score-box__body">
					<div class="score-box__icon icon-game"></div>
					<div class="score-box__score score _fz-15">0</div>
				</div>
			</div>
			<div class="shop__title _fz-45 _upper">SHOP</div>
			<button type="button" data-button="shop-home" class="shop__button-home"></button>
		</div>
		<div class="shop__boards">
			<div class="shop__board">
				<div class="shop__items _fz-20 _fw-600">
					<div data-item="1" class="shop__item">
						<div class="shop__image-box">
							<div class="shop__image">
								<img src="@img/pets/pet-1.png" alt="Image">
							</div>
						</div>
						<div data-shop-button="1" class="shop__button button">
							<div class="shop__price-box">
								<div class="shop__icon icon-game"></div>
								<div data-price="1" class="shop__price _fz-12">0</div>
							</div>
						</div>
					</div>

					<div data-item="2" class="shop__item">
						<div class="shop__image-box">
							<div class="shop__image">
								<img src="@img/pets/pet-2.png" alt="Image">
							</div>
						</div>
						<div data-shop-button="2" class="shop__button button">
							<div class="shop__price-box">
								<div class="shop__icon icon-game"></div>
								<div data-price="2" class="shop__price _fz-12">0</div>
							</div>
						</div>
					</div>

					<div data-item="3" class="shop__item">
						<div class="shop__image-box">
							<div class="shop__image">
								<img src="@img/pets/pet-3.png" alt="Image">
							</div>
						</div>
						<div data-shop-button="3" class="shop__button button">
							<div class="shop__price-box">
								<div class="shop__icon icon-game"></div>
								<div data-price="3" class="shop__price _fz-12">0</div>
							</div>
						</div>
					</div>

					<div data-item="4" class="shop__item">
						<div class="shop__image-box">
							<div class="shop__image">
								<img src="@img/pets/pet-4.png" alt="Image">
							</div>
						</div>
						<div data-shop-button="4" class="shop__button button">
							<div class="shop__price-box">
								<div class="shop__icon icon-game"></div>
								<div data-price="4" class="shop__price _fz-12">0</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="shop__board">
				<div class="shop__buster-item buster-item">
					<div class="buster-item__body">
						<div class="buster-item__top">
							<div class="buster-item__image">
								<div data-buster="5" class="buster-item__count">0</div>
							</div>
							<div class="buster-item__title _fz-31">Super Jump</div>
						</div>
						<div class="buster-item__button-box">
							<button class="buster-item__button button">
								<img src="@img/icons/coin.png" alt="Icon">
								<span class="_fz-36">15</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>