@font-face {
	font-family: Hanuman;
	font-display: swap;
	src: url("../fonts/Hanuman-Bold.woff2") format("woff2"), url("../fonts/Hanuman-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Hanuman;
	font-display: swap;
	src: url("../fonts/Hanuman-Regular.woff2") format("woff2"), url("../fonts/Hanuman-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Hanuman;
	font-display: swap;
	src: url("../fonts/Hanuman-Black.woff2") format("woff2"), url("../fonts/Hanuman-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
