.final {
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;
	transform: scale(0.8);

	transition: all 0.5s ease 0s, background-color 0.5s ease 0.25s;

	&._visible {
		opacity: 1;
		visibility: visible;
		background-color: rgba(12, 23, 40, 0.76);
		transform: scale(1);
	}

	// .final__body

	&__body {
		position: relative;

		display: flex;

		width: 245px;
		height: 299px;
		border-radius: 30px;
		background: linear-gradient(rgba(255, 228, 132, 1), rgba(225, 189, 0, 1), rgba(255, 199, 0, 1));
		padding: 12px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		border-radius: 18px;
		background: linear-gradient(180deg, #107adc 0%, #04c3ff 100%);
	}

	&__title {
	}

	&__image {
	}

	&__score-box {
	}

	&__button-box {
		display: flex;
		justify-content: center;
		column-gap: 5px;
	}
	&__button {
	}
}
