* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
}

.main {
	// .main__body

	&__body {
		position: relative;

		display: flex;
		min-height: 100vh;

		padding: 17px 20px;

		transition: all 0.7s ease 0s;

		._game &,
		._levels & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-20px);
		}
	}

	&__buttons-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 100%;
	}

	// .main__buttons

	&__buttons {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 80px;
	}

	&__score-box {
		position: absolute;
		bottom: -60px;
		left: 50%;
		transform: translateX(-50%);
	}

	// .main__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__bird {
		position: absolute;

		background-image: url("@img/other/bird-1.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		&_1 {
			top: 10%;
			left: 5%;

			width: 170px;
			height: 137px;
		}

		&_2 {
			top: 10%;
			right: 5%;
			width: 66px;
			height: 53px;

			transform: rotateY(180deg);
		}
	}
}

.mountains {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	// .mountains__body

	&__body {
	}

	// .mountains__mountain

	&__mountain {
		position: absolute;
		span {
			display: inline-block;
		}

		// .mountains__mountain_1

		&_1 {
			width: 430px;
			height: 315px;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 20%);

			span {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: linear-gradient(180deg, #1b9051 0%, #1a685a 50.52%, #045e64 100%);
			}
		}

		// .mountains__mountain_2

		&_2 {
			width: 515px;
			height: 315px;
			bottom: 0;
			right: 0;
			transform: translate(25%, 27%);
			span {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-image: linear-gradient(rgba(13, 118, 17, 1), rgba(25, 81, 11, 1), rgba(0, 54, 15, 1));
			}
		}
		// .mountains__mountain_3

		&_3 {
			width: 688px;
			height: 315px;
			bottom: 0;
			left: 0;
			transform: translate(-35%, 25%);
			span {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-image: linear-gradient(rgba(51, 144, 27, 1), rgba(18, 65, 6, 1), rgba(4, 100, 31, 1));
			}
		}
		// .mountains__mountain_4

		&_4 {
			width: 1034px;
			height: 351px;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 60%);
			span {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-image: linear-gradient(rgba(51, 144, 27, 1), rgba(42, 104, 26, 1), rgba(4, 100, 31, 1));
			}
		}
	}
}

.bird {
	position: absolute;
	bottom: 30%;
	left: 0%;
	z-index: 1;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	opacity: 0;

	&._active {
		opacity: 1;
	}

	&[data-bird="1"] {
		background-image: url("@img/birds/bird-1.png");
	}
	&[data-bird="2"] {
		background-image: url("@img/birds/bird-2.png");
	}
	&[data-bird="3"] {
		background-image: url("@img/birds/bird-3.png");
	}
	&[data-bird="4"] {
		background-image: url("@img/birds/bird-4.png");
	}
	&[data-bird="5"] {
		background-image: url("@img/birds/bird-5.png");
	}
}

.levels {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transform: translateX(20px);

	transition: all 0.7s ease 0s;

	._levels & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
	// .levels__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 45px;

		min-height: 100%;
		padding-top: 43px;
	}

	// .levels__button-home

	&__button-home {
		position: absolute;
		top: 24px;
		right: 26px;
	}

	// .levels__buttons

	&__buttons {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 25px;
	}

	// .levels__button

	&__button {
		width: 160px;
		height: 111px;

		border-radius: 30px;
		background-image: linear-gradient(rgba(255, 228, 132, 1), rgba(225, 189, 0, 1), rgba(255, 199, 0, 1));
		padding: 12px;

		transition: all 0.3s ease 0s;

		&:active {
			transform: translateY(2px);
		}
	}

	// .levels__button-inner

	&__button-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		border-radius: 18px;
		background-image: linear-gradient(180deg, #107adc 0%, #04c3ff 100%);
	}

	// .levels__text

	&__text {
	}

	// .levels__bet-info

	&__bet-info {
		display: flex;
		align-items: center;
		column-gap: 3px;
	}

	// .levels__bet

	&__bet {
		display: flex;
		align-items: center;
		img {
			max-width: 38px;
		}
	}

	&__bird {
		position: absolute;

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		&_1,
		&_2 {
			background-image: url("@img/other/bird-1.png");
		}
		&_3 {
			background-image: url("@img/other/bird-2.png");
		}

		&_1 {
			top: 5%;
			left: 5%;
			width: 66px;
			height: 53px;

			transform: rotateY(180deg);
		}

		&_2 {
			top: 50%;
			right: 0;
			transform: translate(35%, -50%);
			width: 170px;
			height: 137px;
		}
		&_3 {
			bottom: 0;
			left: 25%;
			transform: translateY(40%);

			width: 229px;
			height: 206px;
		}
	}
}

//========================================================================================================================================================

.game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transform: translateX(20px);

	transition: all 0.7s ease 0s;

	._game & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
	// .game__body

	&__body {
		position: relative;

		display: flex;
		align-items: flex-end;

		width: 100%;
		min-height: 100%;

		background-image: url("@img/other/bg.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	// .game__mountains

	&__mountains {
	}

	// .game__timer

	&__timer {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		column-gap: 10px;
	}

	// .game__footer

	&__footer {
	}

	&__aim {
		position: absolute;
		top: 0;
		width: 73px;
		height: 73px;

		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;

		filter: drop-shadow(0px 0px 4px #000);
		&[data-aim="user"] {
			left: 0;
			background-image: url("@img/icons/aim-user.svg");
		}
		&[data-aim="bot"] {
			right: 0;
			background-image: url("@img/icons/aim-bot.svg");
		}

		&._shoot {
			transition: all 0.3s $timingFunction 0s;
			transform: scale(0.7);
		}
	}
}

.footer {
	position: relative;
	z-index: 3;
	display: flex;
	width: 100%;
	// .footer__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 15px;

		background-color: rgba(0, 0, 0, 0.6);
	}

	// .footer__players

	&__players {
	}

	// .footer__level-box

	&__level-box {
	}

	// .footer__level

	&__level {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 7px;

		border-radius: 26px;
		background-color: #000;
		padding: 12px 60px;

		color: #f2f2f2;
		span {
			text-transform: uppercase;
		}
	}

	// .footer__busters

	&__busters {
	}

	// .footer__button-home

	&__button-home {
		background-color: transparent;
	}
}

.players-footer {
	// .players-footer__body

	&__body {
		display: flex;
	}

	// .players-footer__blocks

	&__blocks {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}

	// .players-footer__block

	&__block {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	// .players-footer__name

	&__name {
		flex: 1 1 auto;
		color: #bdbdbd;
		.final__result-box & {
			color: #fff;
		}
		&._green {
			color: #0aff6c;
		}
	}

	// .players-footer__item

	&__item {
		display: flex;
		align-items: center;
		column-gap: 5px;
		img {
			max-width: 27px;
		}
	}

	// .players-footer__count

	&__count {
		position: relative;
		top: 2px;

		color: #bdbdbd;
		.final__result-box & {
			color: #fff;
		}
	}
}
.busters-footer {
	// .busters-footer__body

	&__body {
		display: flex;
		column-gap: 40px;
	}

	// .busters-footer__buster

	&__buster {
		position: relative;
		img {
			max-width: 64px;
		}
	}

	// .busters-footer__count

	&__count {
		position: absolute;
		top: -5px;
		right: -15px;

		color: #f2f2f2;
	}
}

//========================================================================================================================================================
._bg-item {
	border-radius: 28px;
	border: 4px solid #c0f3e8;
	background-image: linear-gradient(180deg, #3faaf0 0%, #3064ca 100%);
	color: #fff;
}

._bg-button {
	border-radius: 13px;
	border: 3px solid #fff;
	color: #fff;
}

.header {
	// .header__body

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-radius: 5px;
		border: 1px solid #fff;
		background-color: rgba(43, 36, 22, 0.25);

		padding: 9px 5px;
	}

	// .header__button

	&__button {
		&[data-button="privacy"] {
			width: 182px;
			height: 50px;
		}
	}

	// .header__score-box

	&__score-box {
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: #fff;
	}
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 1, 1);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 103, 103);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: rgb(204, 254, 3);
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}
@keyframes plate {
	0%,
	100% {
		transform: translate(20%, 10%) rotate(-15deg);
	}
	0%,
	100% {
		transform: translate(28%, 15%) rotate(-15deg);
	}
}
