.score-box {
	// .score-box__body

	&__body {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 8px;

		height: 52px;
		padding-inline: 40px;

		border-radius: 26px;
		background-color: #0e00a9;

		transition: all 0.3s ease 0s;

		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	// .score-box__score
	&__score {
		color: #f2f2f2;
		top: 3px;
	}

	&__score,
	&__icon {
		position: relative;
		z-index: 2;
	}
}

.icon-game {
	width: 38px;
	height: 34px;

	background-image: url("@img/icons/coin.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
