.shop {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-image: url("@img/other/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transform: scale(1.01);

	opacity: 0;
	visibility: hidden;

	transition: all 0.7s ease 0.3s;

	._shop & {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&__main {
	}

	// .shop__body

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;

		width: 100%;
		min-height: 100%;

		padding: 20px;
	}

	&__button-home {
		width: 53px;
		height: 45px;

		background-image: url("@img/icons/close-button.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
	}

	&__score-box {
	}

	&__boards {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 20px;
	}

	&__board {
		width: 242px;
		height: 283px;

		background-image: url("@img/other/frame-bg.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__button-box {
		position: absolute;
		top: 10px;
		left: 10px;

		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		min-height: 100%;
		justify-items: center;
		align-items: center;
	}

	// .shop__item

	&__item {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		transition: all 0.7s ease 0s;
		@media (max-height: 345px) {
			row-gap: 4px;
		}
	}

	&__image-box {
	}

	&__image {
		img {
			max-width: 65px;
		}
	}

	&__price-box {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;

		transition: all 0.7s ease 0s;

		._bought & {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__icon {
		width: 16px;
		height: 17px;
	}

	&__price {
		font-family: "Iceland";
	}

	// .shop__button

	&__button {
		width: 72px;
		height: 43px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 12px;
		._selected & {
			width: 39px;

			background-image: url("@img/icons/accept-button.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		// &._hold {
		// 	transition: opacity 0.7s ease 0s;
		// 	opacity: 0;
		// }
	}
}

.buster-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	// .buster-item__body

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .buster-item__top

	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;
	}

	// .buster-item__image

	&__image {
		position: relative;
		flex: 0 0 91px;
		width: 91px;
		height: 107px;
		background-image: url("@img/icons/buster.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__count {
		position: absolute;
		top: 10px;
		right: 15px;
		font-family: "Iceland";
	}

	// .buster-item__title

	&__title {
		max-width: 115px;
	}

	// .buster-item__button-box

	&__button-box {
	}

	// .buster-item__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;
		width: 178px;
		height: 58px;
		padding-bottom: 5px;
		img {
			max-width: 40px;
		}
		span {
			font-family: Iceland;
		}
	}
}
